coverage.xml
xunit-tests.xml
*~
*.sv
.tox
__pycache__
htmlcov
hb_logs.txt
.coverage
xunit-results.xml
miss_htbt_service.egg-info
target/
.idea/
.project
.pydevproject
hb_db_monitoring_logs.txt
hb_misshtbtd_logs.txt
hb_htbtworker_logs.txt
